.search-planets-container {

  border: 1px 1px black;
  width:50%;
}

.main-container {
  display: flex;
  /* position: absolute; */
  background:#011627;
  color: white;
  height:53vh;

}
.planet-list {
    background-color: #282c34;
    width:100%;
  height: 40vh;
  overflow: scroll;
}

.planet-list-component{
    position: relative;
    left:99%;
}
#button{
border-radius:5px;
border-style:solid;
border-color:#61DBFB;
 background:#011627;
 color:white;
cursor: pointer;


}
#button:hover{
        background:#61DBFB;
        color:white;
        border-style:solid;
       border-color:white;
        transform:scale(1.2);
        transition:.5s;
       
}
.select-class{
  border-radius:5px;
border-style:solid;
border-color:#61DBFB;
 background:#011627;
 color:white;
cursor: pointer;

}

.search{
    text-align: center;
}
.inner{
    display: inline-block;
}

.planet-data{
  padding:1%;
  font-size:.8rem;
  margin:0;

 }
@media screen and (max-width: 1200px) {

  
  .planet-data{
    margin:0;
    font-size:.8rem;
    
  }
    }
@media screen and (max-width: 680px) {
.planet-list{
  height: 30vh;
}

.planet-data{
  margin:0;
  font-size:.5rem;
}
  }

  @media screen and (max-width: 450px) {
    .planet-list{
      height: 30vh;
    }
    
    .planet-data{
      margin:0;
      font-size:.3rem;
    }
      }
