.nav-container{
    background:#011526;
    width: 100vw;
    height:7vh;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    border: none;
    border-bottom: 2px solid #61DBFB;

    
}

.nav-link{
    color: white;
    text-transform: capitalize;
    text-decoration: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:2%;
}

.nav-link:hover{
    color:#61DBFB;
    transform:scale(1.2);
    transition:.5s;
}